body {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c6ff;
  color: black;
  font-weight: bold;
}

#players {
  margin-top: 20px;
}

