body {
  background-color: #1b3d2d;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
input { margin:5px; padding:5px;}
button { padding:5px 10px; margin:5px; cursor:pointer; }
#myCards img { border-radius:5px; }
